* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: open sans;
    background-color: #e8fbff
}

header {
    padding: 30px 0px 0px 0px;
    /*background-color: #60a4b9;*/
    background-color:rgba(21, 21, 21, 0.79);
    font-family: lato;
    letter-spacing: 5px;
    height: 100px;
    z-index: 5;
    position: absolute;
    width: 100%;
}

.container-header {
    width: 85%;
    margin: auto;
}

header h1 {
    color: #a8ffff;
    margin: 0 0 0 10px;
    font-size: 50px;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline-block;
    margin: 0 0 0 20px;
    font-size: 13px;
    font-family: roboto;
}

header nav ul li p:hover {
    color: red;
}

#left-side {
    display: inline-block;
    transform: translateY(50%);
    float: left;
    margin: 0 0 0 0;
}

#right-side {
    float: right;
    display: inline-block;
    transform: translateY(50%);
}

header nav {
    letter-spacing: 0px;
    color: white;
}

.browse-menu {
    position: absolute;
    width: 200%;
    background-color: rgba(255, 89, 242, 0.88);
    display: none;
    padding: 20px;
    margin-top: 0px;
    overflow-y: 100;
}

.browse-col-1 {
    float: left;
    width: 25%;
    margin: 0 0 0 0;
}

.browse-col-1 ul li {
    width: 120px;
    padding: 10px;
    margin: 0 0 0 0;
}

.browse-col-1 ul li:hover {
    color: #717171;
}


.logo nav ul {
    list-style: none;
}

.logo {
    float: left;
}

.logo span,
.logo h1 {
    display: inline-block;
    float: left;
}

.logo span {
    color: #ff002d;
    transform: translateY(6%)
}

.logo h1 {
    float: left;
    transform: translateY(-30%);
}


#right-side input {
    position: relative;
}

#right-side span {
    position: absolute;
}

.icon {
    position: absolute;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background: #ff0000;
    transform: translateY(-70%);
    display: none;
}

.hamburger {
    width: 30px;
    height: 5px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 20%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}

.hamburger:before,
.hamburger:after {
    content: '';
    position: absolute;
    width: 30px;
    height: 5px;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    transition: .5s;
}

.hamburger:before {
    top: -10px;
}

.hamburger:after {
    top: 10px;
}

.side-nav {
    top: 60%;
    right: -25%;
    position: absolute;
    background-color: black;
    width: 175px;
    transition: 0.5s;
    overflow-x: hidden;
    z-index: 2;
    display: none;
}

.side-nav a {
    display: block;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    line-height: 40px;
    padding: 0px 20px 20px 30px;
    transition: 0.3s;
    z-index: 2;
    background-color: black;
}

.side-nav a:nth-of-type(1) {
    padding: 0 20px 0 30px;
}

/* CONTENT */

.container-news {
    width: 70%;
    height: 100%;
    margin: auto;
    color: black;
    overflow: hidden;
}

.news-board {
    width: 100%;
    height: 550px;
    position: relative;
    margin-top: 150px;
    padding:  0px 0px;
    padding: 50px 0px;
    
}

.news-board .sliders {
    width: 100%;
    height: 100%;
    position: relative;
}

.news-board .sliders .slides {
    list-style: none;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    
}

.news-board .sliders .slides img {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, .6);
}

.news-wrap {
    background-color: #ffffff;
    position: relative;
    background-size:cover;
    padding: 0px 0px 50px 0px;
}

.news-wrap .news-bg{
    position:absolute;
    width: 100%;
    height: 100%;
    background: url(banners/dbz.jpg) no-repeat fixed 0px -200px;
    filter: grayscale(1);
}

.btn {
    color: white;
    width: 50px;
    height: 50px;
    font-size: 30px;
    position: absolute;
    z-index: 5;
    top: 50%;
    border-radius: 50px;
    border: none;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.56);
}

#btn-1 {
    font-size: 18px;
    margin-left: 10px;
}

#btn-2 {
    float: right;
    margin-right: 10px;
    position: relative;
    font-size: 18px;
}

/*
#btn-1 #btn-left {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
}
*/

.news-board .sliders .slides #ad-text {
    color: white;
    height: 100%;
    width: 25%;
    position: absolute;
    top: 22%;
    left: 63%;
    z-index: 1;
    text-align: center;
}

.news-board .sliders .slides:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateX(50%);
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 0 8px;
    content: attr(data-title);
    transition: 0.5s 0.1s;
    color: #fff;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
    z-index: 1;
}

.news-board .slides #info {
    font-size: 13px;
}


/* FIRST CAST */

/* FIRST CAST */

/* FIRST CAST */

#shows .container {
    width: 85%;
    margin: auto;
    overflow: hidden;
    position: relative;
    padding: 50px 0;
}

#recent-eps-p {
    display: none;
}

.recent-title p {
    width: 135px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.recent-order {
    line-height: 16px;
}

.recent-title p:after {
    content: '';
    background-color: #ff4545;
    height: 2px;
    display: block;
    margin-top: 3px;
}

#recent-eps-p2 {
    display: none;
}

.recent-order .recent-shows:nth-of-type(1) {
    margin: 0 0 0 0;
}

.recent-order-2 .recent-shows:nth-of-type(1) {
    margin: 0 0 0 0;
}

.recent-order #tooltiptext-re {
    left: -85%;
    top: 1;
}

.recent-order #tooltiptext-re:after {
    margin-left: .1px;
    top: 50%;
    left: 100%;
    border-color: transparent transparent transparent rgba(0, 0, 0, .8);
}

.recent-order #tooltiptext-re .tooltiptext-r {
    display: none;
}

.recent-order-2 #tooltiptext-re {
    left: -84%;
    top: 0%;
}

.recent-order-2 #tooltiptext-re:after {
    margin-left: .1px;
    top: 50%;
    left: 100%;
    border-color: transparent transparent transparent rgba(0, 0, 0, .8);
}

.recent-order-2 #tooltiptext-re .tooltiptext-r {
    display: none;
}

.recent {
    margin: 20px 0 10px 0;
    color: #000000;
    font-weight: bol;
    font-family: lato;
}

/* BUTTON HOVER SHOWS */

.recent-shows #play-btn {
    position: absolute;
    color: black;
    top: 39%;
    left: 43%;
    color: #ff0000;
    font-size: 45px;
    opacity: 0;
}

.recent-shows:hover img {
    filter: blur(1px) brightness(50%);
}

.recent-shows:hover #play-btn {
    opacity: 1;
    transition: .3s ease-in-out;
}

.recent-shows #play-btn-2 {
    position: absolute;
    color: black;
    top: 39%;
    left: 43%;
    color: #ff0000;
    font-size: 45px;
    opacity: 0;
}

.recent-shows:hover img {
    filter: blur(1px) brightness(50%);
}

.recent-shows:hover #play-btn-2 {
    opacity: 1;
    transition: .3s ease-in-out;
}

/* SHOWS TEXT */

.recent-shows p {
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 10px;
    font-weight: bold;
}

.recent-shows #eps-item {
    float: right;
    font-size: 12px;
    font-family: lato;
    margin-top: 5px;
    color: gray;
}

.recent-shows p {
    font-size: 12px;
    margin-top: 5px;
    font-weight: bold;
}

.recent-shows #eps-item {
    float: right;
    font-size: 12px;
    font-family: lato;
    margin-top: 5px;
    color: gray;
}

.recent-eps {
    width: 100%;
    margin: auto;
}

.recent-eps p {
    float: left;
}

/* SHOWS LENGTH */

.recent-shows {
    width: 19.3%;
    float: left;
    margin: 0 0 0 10px;
    position: relative;
}

.recent-shows img {
    width: 100%;
    height: 300px;
}

.recent-shows {
    width: 19.3%;
    float: left;
    margin: 0 0 0 10px;
    position: relative;
}

.recent-shows img {
    width: 100%;
    height: 300px;
}


.recent-shows .tooltiptext-r {
    width: 250px;
    height: 90%;
    background-color: rgba(0, 0, 0, .8);
    color: #ffffff;
    text-align: center;
    padding: 20px;
    position: absolute;
    z-index: 1;
    left: 103%;
    top: 0;
    margin-left: ;
    font-size: 12px;
    display: none;
    overflow: ;
    pointer-events: none;
}

.recent-order-2 .tooltiptext-r {
    height: 89%;
}

.recent-shows .tooltiptext-r:after {
    content: "";
    position: absolute;
    border-width: 5px;
    border-style: solid;
    margin-left: -10px;
    top: 50%;
    left: 0;
    border-color: transparent rgba(0, 0, 0, .6) transparent transparent;
    z-index: 0;
}



/* THE SIMULCAST */

#simulcast {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    background-color: rgba(251, 255, 201, 0.13);
    padding: 50px 0;
}

.container-simul {
    width: 85%;
    margin: 0 auto;

}

.simul {
    width: 11.7%;
    float: left;
    position: relative;
    transition: .3s ease-in-out;
    margin: 0 0 0 11px;
}

.simul-title {
    width: 85px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.simul-title p:after {
    content: '';
    background-color: #ff4545;
    height: 2px;
    display: block;
    margin-top: 3px;
}

.simul-order .simul:nth-of-type(1) {
    margin: 0 0 0 0;
}

.simul-order-2 .simul:nth-of-type(1) {
    margin: 0 0 0 0;
}

.simul-order-3 .simul:nth-of-type(1) {
    margin: 0 0 0 0;
}

.simul .tooltiptext {
    width: 90%;
    background-color: #00c3ff;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin: 0 0 0 0px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 0%;
    font-size: 11px;
    display: none;
}

.tooltiptext:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #a8ffff transparent transparent transparent;
}

.simul img {
    width: 100%;
    height: 225px;
}

.simul-r {
    position: absolute;
    top: 2%;
    left: 3%;
    background-color: rgba(0, 0, 0, .4);
    border-radius: 25px;
    padding: 2px 10px;
    color: white;
    font-size: 12px;
}

#simul-s {
    color: yellow;
    font-size: 10px;
    transform: translateY(-10%);
}

/* POPULAR */

#popular {
    width: 100%;
    margin: auto;
    padding: 50px 0px;
    overflow: hidden;
    background-color: #e8f7ff;
}

.pop-container {
    width: 85%;
    margin: auto;
}

.pop-title {
    width: 200px;
    margin-bottom: 10px;
}

.pop-title p:after {
    content: '';
    background-color: #ff4545;
    height: 2px;
    display: block;
    margin-top: 3px;
    width: 177px;
}

.pop-info-2 span {
    color: yellow;
}

.pop {
    width: 24%;
    float: left;
    margin: 10px 0 0 5px;
    position: relative;
    height: 320px;
}

#pop-info-title:after {
    content: "";
    height: 1px;
    width: 100%;
    background-color: black;
    position: relative;
    display: block;
    transform: translateY(1000%);
}

.pop:hover .pop-text {
    opacity: ;
}

.pop img {
    width: 100%;
    height: 100%;
    position: absolute;
}

.pop-text {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 226, 255, 0.86);
    position: absolute;
    text-align: center;
    display: none;
    transition: .5s ease;
    padding: 20px;
    color: white;
}

.pop-desc {
    font-size: 12px;
}

.pop-info-box {
    position: absolute;
    font-size: 10px;
    width: 100%;
    margin: auto;
    margin-top: 5px;
}

.pop-info {
    float: left;
    text-align: left;
}

.pop-info-2 {
    float: right;
    text-align: right;
    margin-right: 40px;
}


/* BEING WATCHED */

#b-watched {
    width: 100%;
    margin: auto;
    overflow: hidden;
    background-color: rgba(227, 255, 195, 0.11);
    padding: 50px 0px;
}

.b-watched-container {
    width: 75%;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    padding: 2px;
    white-space: nowrap;
}

.watch {
    transform: translateX(-1.5%);
}

.b-watched-title {
    width: 85%;
    margin: auto;
}

.b-watched-title p:after {
    content: '';
    background-color: #ff4545;
    height: 2px;
    display: block;
    margin-top: 3px;
    width: 130px;
}


.watching {
    position: relative;
    width: 10%;
    display: inline-block;
    transition: .5s ease;
    transform: translateX(15%);
}

.watching img {
    width: 100%;
    height: 200px;
}

.watching {
    margin-left: -50px;
    position: relative;
}

.watching:hover {
    margin-right: 46px;
    transition: .3s ease;
}

#watching-margin {
    margin-left: -50px;
}

#watching-margin:hover {
    margin-right: 0;

}

.watching .tooltiptext-w {
    width: 100%;
    color: red;
    background-color: #ff2a33;
    position: absolute;
    bottom: 100%;
    color: white;
    z-index: 2;
    padding: 5px 0;
    text-align: center;
    margin: 0 0 0 -142px;
    font-size: 10px;
    display: none;
    font-size: 12px;
}

.watching:hover .tooltiptext-w {}

.watching .tooltiptext-w:after {
    content: "";
    border-style: solid;
    border-width: 5px;
    border-color: white transparent transparent transparent;
    bottom: -38%;
    left: 50%;
    text-align: center;
    position: absolute;
}

/* FOOTER */

#footer {
    width: 100%;
    background-color: #60a4b9;
    padding: 50px 0px;

}

.footer-container {
    width: 85%;
    margin: auto;
    overflow: hidden;
}

.left-footer {
    color: white;
    float: left;
    overflow: hidden;
}

.left-footer nav ul {
    list-style: none;
    font-size: 13px;
    line-height: 20px;
}

.right-footer {
    float: right;
    font-size: 30px;

}

.right-footer nav ul {
    list-style: none;
}

.right-footer nav ul li {
    display: inline-block;
    margin-top: 50px;
    margin-left: 50px;
    color: white;
}


@media (max-width:1684px) {
    .recent-shows {
        width: 19%;
    }
    .recent-shows-2 {
        width: 19%;
    }
    #recent-eps-p2 {
        display: block;
    }
    #recent-eps-fix2 {
        display: none;
    }
    .simul {
        margin: 0 0 0 18px;
        width: 11%;
    }

}

@media (max-width:1445px) {
    .container {
        width: 80%;
    }

    .simul {
        margin: 0 0 0 17px;
    }

}

@media (max-width:1383px) {
    #recent-eps-fix {
        display: none;
    }
    #recent-eps-p {
        display: block;
    }

    .simul {
        width: 10.5%;
        margin: 0 0 0 24px;
    }
}

@media (max-width:1368px) {
    .container-header {
        width: 90%;
        margin: auto;
    }

    #right-side ul li {
        font-size: 12px;
    }

    #left-side ul li {
        font-size: 12px;
    }

    #right-side {
        transform: translateY(50%);
    }
    .logo h1 {
        font-size: 48px;
        transform: translateY(-20%);
    }
    .icon {
        transform: translateY(-70%);
    }
    .simul {
        margin: 0 0 0 21px;
    }

    .pop {
        width: 32.5%;
    }

    .watching .tooltiptext-w {
        width: 120px;
        margin: 0 0 0 -110px;

    }

    .watching {
        width: 13%;
    }

    .pop-info-box {
        margin: 10px 0 0 0;
    }

}

@media (max-width:1287px) {
    .news-board .sliders .slides #ad-text {
        font-size: 15px;
    }

    .watching {
        width: 13.5%
    }
}

@media (max-width:1164px) {
    .simul {
        width: 11.5%;
        margin: 0 0 0 9px;
    }
    .watching {
        width: 14%;
    }

}


@media (min-width:1069px) {
    .side-nav a {
        display: none;
    }
}

@media (max-width:1068px) {
    .container-header {
        width: 95%;
        margin: auto;
    }

    #right-side ul li {
        font-size: 12px;
        display: none;
    }

    #right-side ul li input,
    #right-side ul li span {
        display: none;
    }

    #right-side #nav-bar {
        display: block;
    }

    #right-side ul li:nth-of-type(5) {
        display: inline;
    }

    #left-side ul li {
        font-size: 12px;
    }
    .icon {
        transform: translateY(-70%);
        display: block;
    }

    .news-board .sliders .slides #ad-text {
        font-size: 14px;
    }
    .watching {
        width: 14.5%;
    }

}

@media (max-width:958px) {

    .recent-shows {
        width: 47%;
    }

    .recent-order {
        line-height: 16px;
        overflow: visible;
    }

    .recent-shows img {
        height: 430px;
    }

    .recent-order .recent-shows:nth-of-type(1) {
        margin: 0 0 0 10px;
    }

    .recent-order-2 .recent-shows:nth-of-type(1) {
        margin: 0 0 0 10px;
    }

    .recent-order .recent-shows:nth-of-type(2) .tooltiptext-r {
        left: -71.5%;
        top: 0;
    }

    .recent-order .recent-shows:nth-of-type(2) .tooltiptext-r:after {
        margin-left: 10px;
        left: 96%;
        border-color: transparent transparent transparent rgba(0, 0, 0, .6);
    }

    .recent-order .recent-shows:nth-of-type(4) .tooltiptext-r {
        left: -71.5%;
        top: 0;
    }

    .recent-order .recent-shows:nth-of-type(4) .tooltiptext-r:after {
        margin-left: 10px;
        left: 96%;
        border-color: transparent transparent transparent rgba(0, 0, 0, .6);
    }


    .recent-order .recent-shows:nth-of-type(4) #tooltiptext-re {
        left: 10;
        top: 0;
        margin-left: 50px;
    }

    .recent-order .recent-shows:nth-of-type(4) #tooltiptext-re:after {
        margin-left: -1px;
        top: 50.5%;
        border-color: transparent transparent transparent (0, 0, 0, .6);
    }

    .recent-order .recent-shows:nth-of-type(5) #tooltiptext-re {
        left: 103%;
        top: 0;
    }

    .recent-order .recent-shows:nth-of-type(5) #tooltiptext-re:after {
        margin-left: -10px;
        top: 0%;
        left: 50.5%;
        border-color: transparent rgba(0, 0, 0, .6) transparent transparent;
    }







    .recent-order-2 .recent-shows:nth-of-type(1) .tooltiptext-r {
        left: -71.5%;
        top: 0;
    }

    .recent-order-2 .recent-shows:nth-of-type(1) .tooltiptext-r:after {
        margin-left: 10px;
        left: 96%;
        border-color: transparent transparent transparent rgba(0, 0, 0, .6);
    }

    .recent-order-2 .recent-shows:nth-of-type(3) .tooltiptext-r {
        left: -71.5%;
        top: 0;
    }

    .recent-order-2 .recent-shows:nth-of-type(3) .tooltiptext-r:after {
        margin-left: 10px;
        left: 96%;
        border-color: transparent transparent transparent rgba(0, 0, 0, .6);
    }

    .recent-order-2 .recent-shows:nth-of-type(4) #tooltiptext-re {
        left: 103%;
        top: 0;
    }

    .recent-order-2 .recent-shows:nth-of-type(4) #tooltiptext-re:after {
        margin-left: 10px;
        left: -8%;
        border-color: transparent rgba(0, 0, 0, .6) transparent transparent;
    }

    .recent-order-2 .recent-shows:nth-of-type(5) #tooltiptext-re {
        left: -71.5%;
        top: 0;
    }

    .recent-order-2 .recent-shows:nth-of-type(5) #tooltiptext-re:after {
        margin-left: 10px;
        left: 96%;
        border-color: transparent transparent transparent rgba(0, 0, 0, .6);
    }



    /* SIMULCAST */
    .simul {
        width: 23%;
    }

    .simul-order .simul:nth-of-type(5) {
        margin: 0 0 0 0;

    }

    .pop-container {
        width: 90%;

    }

    .pop {
        width: 47%;
    }

    .pop-desc {
        margin-top: 5px;
    }

    .watching {
        width: 14.7%;
    }

}

@media (max-width:808px) {
    .browse-menu {
        width: 100%;
        z-index: 5;
        position: absolute;
        padding: 10px;
    }

    .browse-col-1 {
        float: left;
        width: 50%;
        margin: 0 0 0 0;
    }
}

@media (max-width:764px) {
    .news-board .sliders .slides #ad-text {
        font-size: 12px;
    }

    .watching {
        width: 16%;
    }

    .watch {
        transform: translateX(-2%);
    }

    .b-watched-container {
        width: 76%;
    }
}


@media (max-width: 604px) {

    .watching {
        width: 19%;
    }

    .logo {
        width: 100%;
        text-align: center;
        float: none;
    }

    .logo span,
    .logo h1 {
        display: inline-block;
        float: none;
    }

    .logo span {
        transform: translateY(-30%);
    }

    #left-side {
        transform: translateX(0%);
        width: 100%;
        float: none;
        margin: auto;
        text-align: center;
        margin-top: 30px;
    }

    header {
        width: 100%;
        height: 450px;
    }

    #left-side .main-menu-l p {
        transform: translateY(0%);
    }

    .side-nav {
        transform: translateY(-48%);
    }

    .browse-menu {
        width: 50%;
    }

    .browse-col-1 {
        float: left;
        width: 50%;
        margin: 0 0 0 0;
        text-align: left;
    }

    .browse-col-1 ul li {
        margin: 0 0 0 0;
        transform: translateY(0%);
    }

    #right-side .icon {
        transform: translateY(-280%);
    }

    .container-news {
        width: 100%;
    }

    .container-news .news-board {
        margin-top: 500px;
    }

    .news-board .sliders .slides #ad-text {
        width: 75%;
        position: absolute;
        top: 50%;
        left: 12.5%;
        z-index: 1;
        text-align: center;
    }

    .news-board .sliders .slides:before {
        transform: translateX(0%);
    }

    .pop {
        width: 100%;
        height: 450px;
    }

    .pop .pop-info-box {
        margin-top: 20px;
    }
}

@media (max-width:572px) {
    .watching {
        width: 20.9%;
    }

    header {
        height: 450px;
    }

    .recent-shows {
        width: 94.9%;
    }

    .recent-shows img {
        height: 450px;
    }

    .simul {
        width: 47%;
    }

    .simul-order .simul:nth-of-type(3) {
        margin: 0 0 0 0;
    }

    .simul-order .simul:nth-of-type(7) {
        margin: 0 0 0 0;
    }

    .recent-order .recent-shows:nth-of-type(1) .tooltiptext-r {
        left: 0%;
        width: 100%;
        height: 93%;
    }

    .recent-order .recent-shows:nth-of-type(1) .tooltiptext-r:after {
        display: none;
    }


    .recent-order .recent-shows:nth-of-type(2) .tooltiptext-r {
        left: 0%;
        width: 100%;
        height: 93%;
    }

    .recent-order .recent-shows:nth-of-type(2) .tooltiptext-r:after {
        display: none;
    }


    .recent-order .recent-shows:nth-of-type(3) .tooltiptext-r {
        left: 0%;
        width: 100%;
        height: 93%;
    }

    .recent-order .recent-shows:nth-of-type(3) .tooltiptext-r:after {
        display: none;
    }

    .recent-order .recent-shows:nth-of-type(4) #tooltiptext-re {
        left: 0%;
        width: 100%;
        height: 93%;
        margin: 0 0 0 0px;
    }

    .recent-order .recent-shows:nth-of-type(4) #tooltiptext-re:after {
        display: none;
    }

    .recent-order .recent-shows:nth-of-type(5) #tooltiptext-re {
        left: 0%;
        width: 100%;
        height: 93%;
        margin: 0 0 0 0px;
    }

    .recent-order .recent-shows:nth-of-type(5) #tooltiptext-re:after {
        display: none;
    }

    .recent-order-2 .recent-shows:nth-of-type(1) .tooltiptext-r {
        left: 0%;
        width: 100%;
        height: 93%;
    }

    .recent-order-2 .recent-shows:nth-of-type(1) .tooltiptext-r:after {
        display: none;
    }

    .recent-order-2 .recent-shows:nth-of-type(2) .tooltiptext-r {
        left: 0%;
        width: 100%;
        height: 93%;
    }

    .recent-order-2 .recent-shows:nth-of-type(2) .tooltiptext-r:after {
        display: none;
    }

    .recent-order-2 .recent-shows:nth-of-type(3) .tooltiptext-r {
        left: 0%;
        width: 100%;
        height: 93%;
    }

    .recent-order-2 .recent-shows:nth-of-type(3) .tooltiptext-r:after {
        display: none;
    }

    .recent-order-2 .recent-shows:nth-of-type(4) #tooltiptext-re {
        left: 0%;
        width: 100%;
        height: 93%;
    }

    .recent-order-2 .recent-shows:nth-of-type(4) #tooltiptext-re:after {
        display: none;
    }
    .recent-order-2 .recent-shows:nth-of-type(5) #tooltiptext-re {
        left: 0%;
        width: 100%;
        height: 93%;
    }

    .recent-order-2 .recent-shows:nth-of-type(5) #tooltiptext-re:after {
        display: none;
    }

}

@media (max-width:462px) {
    .watching {
        width: 22%
    }
}

@media (max-width:375px) {
    .watch {
        width: 100%;
    }
    .watching {
        width: 25%
    }
